/* START LAYOUT */
/*
 * Backgrounds
 * LIKES: [33, 58, 76, 79, 105, 109, 111, 115, 122, 132, 140, 141, 145, 160, 175, 187, 187, 216, 225, 256, 265, 270, 281, 283, 311, 314, 326, 347, 353, 360]
 * FILTERED LIKES: [122, 132, 160, 187, 187, 187, 216, 256, 256, 314, 360]
 */
body{
  background-image: url(/images/background.jpg);
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.4);
}


/*header*/
.header{background-color: rgba(0, 0, 0, 0.8);}
.header .brand {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .brand a {
  color: #fff;
}

.header .brand a:hover {
  text-decoration: none;
  font-weight: bolder;
}
/* end of header */
/*nav*/
.nav-pills>li>a,.nav-pills>li>a:hover, .nav-pills>li.active>a:hover ,.nav-pills>li.active>a {
  background-color: transparent;
  color: white;
  font-weight: bolder;
}
ul.nav{
  margin-top: 13px;
  margin-bottom: 14px;
}
ul.nav a{
  font-size: 20px;
}
ul.nav a:hover{
  text-decoration: underline;
}

.main-content{
  min-height: 500px;
}

.footer{
  padding-top: 10px;
}

.footer a{
  color: #ddd;
}
.websrvr-badge{
  height: 36px;
  border-radius: 3px;
}


/*end of layout*/

/*index styles*/
.tagline{
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.arrow{
  font-size: 60px;
  line-height: 340px;
  color: #ddd;
}
.step{
  text-align: center;
}
.step img {
  padding-bottom: 10px;
}
.steps{
  margin-left: 0;
  margin-right: 0;
}
.steps .col-md-3{
  width: 30%;
}
.steps .col-md-1{
  width: 5%;
}
.step .caption{
  font-size: 20px;
  color: #fff;
}
.steps h3{
  color: #fff;
  text-align: center;
}
.steps em{
  font-weight: bolder;
}

.call-to-action{
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-bottom: 20px;
}

.call-to-action em{
  font-style: normal;
  font-size: 1.5em;
}

.call-to-action p{
  padding: 16px 32px;
}

.call-to-action a{
  padding: 16px 24px;
  font-size: 28px;
}

.call-to-action .button{
  margin-top: 10px;
}

.solid-bg{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.solid-bg .lead{
  color: #ddd;
}
.solid-bg .lead a{
  color: #fff;
  text-decoration: underline;
}

.features .lead,
.features h2 {
  color: #fff;
}
.features a {
  color: #222;
  text-decoration: underline;
}

.page-container{
  min-height: 500px;
  color: #222;
  padding: 10px;
  margin-bottom: 10px;
}
.page-container.lead{
  color: #222;
}
.page-container.lead a{
  color: #222;
  font-style: bolder;
  text-decoration: underline;
}
.container-wrapper{
  background-color: #fff;
}
.container-wrapper .page-header{
  margin-bottom: 0;
}

/* START OF SUB PAGE STYLES */
.container-wrapper .page-header{
  color: #222;
}
/* END OF SUB PAGE STYLES */

/* page specific styles */
#pricing tbody td, #pricing thead th{
  text-align: center;
}

#pricing tbody h3{
  font-size: 80px;
}

#pricing thead h3{
  color: #6cc644;
  font-weight: bolder;
}
