/* START LAYOUT */
/*
 * Backgrounds
 * LIKES: [33, 58, 76, 79, 105, 109, 111, 115, 122, 132, 140, 141, 145, 160, 175, 187, 187, 216, 225, 256, 265, 270, 281, 283, 311, 314, 326, 347, 353, 360]
 * FILTERED LIKES: [122, 132, 160, 187, 187, 187, 216, 256, 256, 314, 360]
 */

body{
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background: url('/images/rounded.svg') no-repeat center center fixed;
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.0);
}


/*header*/
.header{background-color: rgba(0, 0, 0, 0.2);}
.header .brand {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .brand a {
  color: #fff;
}

.header .brand a:hover {
  text-decoration: none;
  font-weight: bolder;
}
/* end of header */
/*nav*/
.nav-pills>li>a,.nav-pills>li>a:hover, .nav-pills>li.active>a:hover ,.nav-pills>li.active>a {
  background-color: transparent;
  color: white;
  font-weight: bolder;
}
ul.nav{
  margin-top: 13px;
  margin-bottom: 14px;
}
ul.nav a{
  font-size: 20px;
}
ul.nav a:hover{
  text-decoration: underline;
}

.main-content{
  min-height: 500px;
}

.footer{
  padding-top: 10px;
}

.footer a{
  color: #ddd;
}
.websrvr-badge{
  height: 36px;
  border-radius: 3px;
}


/*end of layout*/

/*index styles*/
.tagline{
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.arrow{
  font-size: 60px;
  line-height: 340px;
  color: #ddd;
}
.step{
  text-align: center;
}
.step img {
  padding-bottom: 10px;
}
.steps{
  margin-left: 0;
  margin-right: 0;
}
.steps .col-md-3{
  width: 30%;
}
.steps .col-md-1{
  width: 5%;
}
.step .caption{
  font-size: 20px;
  color: #fff;
}
.steps h3{
  color: #fff;
  text-align: center;
}
.steps em{
  font-weight: bolder;
}

.call-to-action{
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 5px;
}

@media (min-width:  1200px) {
  .call-to-action{
    font-size: 1.7em;
    line-height: 67px;
  }
}
@media (min-width: 900px) and (max-width:  1200px) {
  .call-to-action{
    line-height: 58px;
    font-size: 1.4em;
  }
}

.call-to-action em{
  font-style: normal;
  color: #fff;;
}

.call-to-action .text{
  color: #ccc;
}

.call-to-action a{
  font-size: 1em;
}

.solid-bg{
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.solid-bg .lead{
  color: #ddd;
}
.solid-bg .lead a{
  color: #fff;
  text-decoration: underline;
}

.features .lead,
.features h2 {
  color: #fff;
}
.features a {
  color: #222;
  text-decoration: underline;
}

.page-container{
  min-height: 500px;
  color: #222;
  padding: 10px;
  margin-bottom: 10px;
}
.page-container.lead{
  color: #222;
}
.page-container.lead a{
  color: #222;
  font-style: bolder;
  text-decoration: underline;
}
.container-wrapper{
  background-color: #fff;
}
.container-wrapper .page-header{
  margin-bottom: 0;
}

/* START OF SUB PAGE STYLES */
.container-wrapper .page-header{
  color: #222;
  margin-top: 20px;
}
/* END OF SUB PAGE STYLES */

/* page specific styles */
#pricing tbody td, #pricing thead th{
  text-align: center;
}

#pricing tbody h3{
  font-size: 80px;
}

#pricing thead h3{
  color: #6cc644;
  font-weight: bolder;
}

/* privacy */
body.privacy h3, body.terms h3{
  font-weight: bolder;
}
body.privacy .page-container p, body.privacy .page-container ul,
body.terms .page-container p, body.terms .page-container ol{
  font-size: 18px;
}
body.privacy h3.brand {
  font-weight: normal;
}
