---
title: About
---

<div class="container-wrapper">
  <h2 class="page-header">
    About
  </h2>
  <div class='page-container lead'>
    <p>websrvr was made to create a simple way for designers to publish websites.</p>


    It was made by me (<a href='http://twitter.com/minhajuddin'>Khaja Minhajuddin</a>)
    <p><img class='img-circle' src="https://s.gravatar.com/avatar/ca4be9237627c499136b8799ff0c7f57?s=200" alt="Khaja Minhajuddin"></p>

    <p>I am a very passionate programmer. I am the CEO of <a href="http://cosmicvent.com" title="Cosmicvent Software">Cosmicvent Software</a>. I have been in the software industry for
      <abbr title="See how I came up with that number?"><script>document.write(Math.round(((new Date()) - (new Date(2006, 11, 13)))/(100 * 60 * 60 * 24 * 365))/10)</script></abbr>
      years. You can shoot me an email at <strong><a href="mailto:minhajuddin.k@gmail.com" title="email me">minhajuddin.k@gmail.com</a></strong> or send a tweet to <a href="http://twitter.com/minhajuddin" title="minhajuddin on twitter">@minhajuddin</a>.</p>

    <p>I worked at <a href="http://tcs.com">TCS</a> for a couple of years, before I setup my own shop. In TCS I had the opportunity to work with a few Data warehousing applications using <a href="http://www-01.ibm.com/software/data/infosphere/datastage/features.html">Datastage</a> (which is a very powerful ETL tool) It was a fun and challenging experience. Our customer was Verizon, and I had good times working with them. During my stay at TCS, and after leaving them, I conducted a few 2-5 day training sessions on Datastage successfully. I love teaching other people about technology.</p>

    <p>After setting up <a href="http://cosmicvent.com" title="Cosmicvent Software">Cosmicvent Software</a> I took up a few training assignments on Datastage and the new and shiny ASP.NET MVC (at the time) . I have been building applications in <a href="http://www.asp.net/mvc">ASP.NET MVC</a> since it was in the <em>first preview versions</em>. I have built a bunch of moderately complex applications using ASP.NET MVC, fluent nhibernate/linq to sql/EF, and different view engines like webforms, spark and razor.</p>

    <p>Of late I have been building a lot of applications in <a href="http://rubyonrails.org/">ruby on rails</a> (which I think was the inspiration for ASP.NET MVC). The primary reason for moving from ASP.NET MVC to Rails was the availability of projects. There weren't a lot of ASP.NET MVC projects for a small company like ours. However, after the move I have come to love rails. I find it a very productive framework. I now develop on an ubuntu machine using vim, the terminal and few other tools. It has been fun. I have also started looking at <a href="http://golang.org/">Go</a> the programming language, I think it provides a lot of nice constructs to develop concurrent applications easily. Goroutines are pure awesome :)</p>

    <p>I try to blog about things I find new and interesting. And I am sure I’ll never run out of new things, that’s what’s exciting about the
      software industry :) I have been trying out new things since the day I joined the software industry. I have worked with technologies and
      processes as diverse as <em>Data Warehousing</em> and <em>Live Vehicle tracking</em>.</p>


  </div>
</div>
</div>
