---
title: Create and host websites from your dropbox.
---


<div class="hero">
  <div class="container">
    <div class="row">
      <div>
        <h1>
          The web host for designers and developers
        </h1>
        <div class="call-to-action">
          <p>
            Manage your websites from your Desktop/Tablet/Mobile using Dropbox
          </p>
          <a href="https://app.websrvr.in/dropbox/authorize" class="button">Try Websrvr Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container asides">
  <div class="row">
    <div class="four columns">
      <h3>
        <i class="fa fa-fighter-jet"></i>
        80% faster
      </h3>
      <p>
        All your <a href='http://blog.websrvr.in/2014/09/23/websrvr-now-minifies-and-gzips-your-css-javascript-and-html/'>
          html/javascript and stylesheet resources
          are minified and compressed</a> to the highest levels, decreasing
        the page size by upto 80%.
      </p>
    </div>
    <div class="four columns">
      <h3>
        <i class="fa fa-code"></i>
        Total control
      </h3>
      <p>
        Websrvr gives you total control over your website. You don't need
        any fancy web editors to manage your website. Just edit it locally and bam it's online.
      </p>
    </div>
    <div class="four columns">
      <h3>
        <i class="fa fa-magic"></i>
        Easy
      </h3>
      <p>
        You can create websites just by copying them to a new
        dropbox folder. Edit your HTML locally and your <a href='http://blog.websrvr.in/2014/12/06/revving-up-our-website-build-system/'>
          website will be updated instantly.</a>
      </p>
    </div>
  </div>
</div>

<div class="tweets">
  <div class="container">


    <div class="row">
      <div class="two columns">
        <img src='/images/constantin.jpeg'>
      </div>
      <div class="ten columns nopad">
        <blockquote><p>Awesome new service by <a href="https://twitter.com/minhajuddin">@minhajuddin</a>, maker of <a href="https://getsimpleform.com">https://getsimpleform.com</a>: Create websites from Dropbox using <a href="http://www.websrvr.in/">http://www.websrvr.in/</a> <a href="https://twitter.com/hashtag/cool?src=hash">#cool</a></p>&mdash; Constantin Gonzalez (@zalez) <a href="https://twitter.com/zalez/status/522479482427682817">October 15, 2014</a></blockquote>
      </div>
    </div>

    <div class="row">
      <div class="two columns">
        <img src='/images/rob.png'>
      </div>
      <div class="ten columns nopad">
        <blockquote><p>Create, host and manage simple static websites easily from your own Dropbox accoun.. <a href="http://www.websrvr.in/">http://www.websrvr.in/</a> via: <a href="http://t.co/EMO84a0WHX">http://t.co/EMO84a0WHX</a></p>&mdash; Robin Good (@RobinGood) <a href="https://twitter.com/RobinGood/status/515845848274444289">September 27, 2014</a></blockquote>
      </div>
    </div>

    <div class="row">
      <div class="two columns">
        <img src='/images/sarvagya.jpg'>
      </div>
      <div class="ten columns nopad">
        <blockquote><p>I freaking love websrvr! Its just so easy to deploy static websites - just copy the files over to a folder.</p>&mdash; Sarvagya Vaish <a href="https://plus.google.com/u/0/111231653534535228034/posts">December 07, 2014</a></blockquote>
      </div>
    </div>


    <div class="row">
      <div class="two columns">
        <img src='/images/pandu.png'>
      </div>
      <div class="ten columns nopad">
        <blockquote><p>This new product <a href="https://twitter.com/websrvr">@websrvr</a> rocks! Love the simplicity!</p>&mdash; pandurang (@pandurang) <a href="https://twitter.com/pandurang/status/514669192046313473">September 24, 2014</a></blockquote>
      </div>
    </div>



  </div>
</div>
