---
title: Pricing
---

<div class="page-header">
  <div class="container">
    <h2>
      <%= current_page.data.title %>
    </h2>
  </div>
</div>

<div class="container-wrapper">
  <div class="container main-content">


    <div class='page-container'>
      <p class='lead'>
        Instead of having a fixed cost plan, websrvr charges you based on your usage.
      </p>

      <table class="table-striped table" id="pricing">
        <thead>
          <tr>
            <th class="noborder"></th>
            <th>
              <h3>Bronze site</h3>
            </th>
            <%#<th>%>
              <%#<h3>Silver site</h3>%>
              <%#</th>%>
            <%#<th>%>
              <%#<h3>Gold site</h3>%>
              <%#</th>%>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="vertical-align:middle;">
              <h4>Price</h4>
            </th>
            <td>
              <h3>$1</h3>
              <h4>per site per month</h4>
            </td>
            <%#<td>%>
              <%#<h3>$3</h3>%>
              <%#<h4>per month</h4>%>
              <%#</td>%>
            <%#<td>%>
              <%#<h3>$10</h3>%>
              <%#<h4>per month</h4>%>
              <%#</td>%>
          </tr>
          <tr>
            <th>
              <h4>Hosted on</h4>
            </th>
            <td>
              <h4>websrvr</h4>
            </td>
            <%#<td>%>
              <%#<h4>Amazon S3</h4>%>
              <%#</td>%>
            <%#<td>%>
              <%#<h4>Amazon Cloudfront</h4>%>
              <%#</td>%>
          </tr>
          <tr>
            <th>
              <h4>Storage</h4>
            </th>
            <td>
              <h4>500 MB</h4>
            </td>
            <%#<td>%>
              <%#<h4>1 GB</h4>%>
              <%#</td>%>
            <%#<td>%>
              <%#<h4>1 GB</h4>%>
              <%#</td>%>
          </tr>
          <tr>
            <th>
              <h4>Bandwidth</h4>
            </th>
            <td>
              <h4>10 GB</h4>
            </td>
            <%#<td>%>
              <%#<h4>5 GB</h4>%>
              <%#</td>%>
            <%#<td>%>
              <%#<h4>10 GB</h4>%>
              <%#</td>%>
          </tr>
          <tr>
            <th>
              <h4>Support</h4>
            </th>
            <td>
              <h4>Email</h4>
            </td>
            <%#<td>%>
              <%#<h4>Email</h4>%>
              <%#</td>%>
            <%#<td>%>
              <%#<h4>Email</h4>%>
              <%#</td>%>
          </tr>
        </tbody>
      </table>
      <p class="lead">
        If you have any questions, please contact us at <a href="mailto:support@websrvr.zendesk.com">support@websrvr.zendesk.com</a>
      </p>


    </div>
  </div>
</div>
